.body{
    background:#9b2727;
}


.bodyContent {
    min-height:100vh;
    height:100%;
    margin-bottom:-44px;
    background:#9b2727;
   }
  
   h4{
       padding-top:25px;
       padding-left:15px;
       color:#fff;
   }

   .jumbotron{
    background:#9b2727;
    margin-bottom:1em;
    padding:4em 1em 1em 1em;
   }

   .home-container{
       background:#f2f1f1;
       padding:3em;
       border-radius:1em;
       border:2px solid #fff;
   }

  .tab-content{
      background:#fff;
      padding:30px;
      border:1px solid #9b2727;
      /* border-top:none; */
      border-bottom-left-radius:.5rem;
      border-bottom-right-radius:.5rem;
  }

  .tab-col{
      margin:0px auto;
  }

  .nav-link{
      width:50%;
      font-weight:bold;
      padding:10px 20px;
  }

  /* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    background:#fff;
    border-color:#fff;
    border-radius:0;
    border:1px solid #dee2e6;
    border-bottom:none;
}

  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
      border-color:none;
  } */

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      background:#9b2727;
      border-color:#9b2727;
      color:#fff;
      border-top-right-radius:.25rem;
      border-top-left-radius:.25rem;
  }



  
@media (max-width: 576px){
    .home-container{
       padding:3em 1em;
    }
    
  } 