.dashBodyContent {
    min-height:100vh;
    height:100%;
    margin-bottom:-44px;
    padding-top:77px;
    background:#fff;
    padding-bottom:77px;
   }


   .box{
       border-bottom:1px solid #ddd;
   }

  

   .dashBodyContent {
    min-height:100vh;
    height:100%;
    margin-bottom:-44px;
    padding-top:78px;
    background:#f2f2f2;
    padding-bottom:55px;
   }


   .box{
       border-bottom:1px solid #ababab;
   }

  

   .cardLook{
       background:#fff;
       border-color:#ddd;
       padding: 20px 10px;
       margin-bottom:15px;
   }


   .leftCol{
       padding-right:0;
   }

   @media (min-width:768px) {

	.cardLook{
        margin-bottom:15px;
    }
    
}

@media (max-width:768px) {
    .leftCol{
        padding-right:15px;
    }
}